In [1]:
import os
os.getcwd()   # Current working directory

'C:\\Users\\hp\\Exam Python Main'

In [10]:
os.listdir(r'C:\\Users\\hp\\Exam Python Main')

['.ipynb_checkpoints',
 'DataFrame_Working.ipynb',
 'Numpy.ipynb',
 'NumpyFunctions.ipynb',
 'Pandas.ipynb',
 'PandasWorking.ipynb',
 'ReadWrite_DataFrames.ipynb',
 'User_Data.csv']

In [11]:
os.listdir(r'C:\\Users\\hp\\')

['.anaconda',
 '.android',
 '.angular-config.json',
 '.cache',
 '.conda',
 '.condarc',
 '.continuum',
 '.dacfx',
 '.dotnet',
 '.eclipse',
 '.emulator_console_auth_token',
 '.gitconfig',
 '.gradle',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.lesshst',
 '.matplotlib',
 '.ms-ad',
 '.nuget',
 '.p2',
 '.ssh',
 '.streamlit',
 '.templateengine',
 '.vscode',
 'alphabet_stock_data.csv',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'data.csv',
 'Documents',
 'Downloads',
 'eclipse',
 'Exam Python Main',
 'Favorites',
 'IntelGraphicsProfiles',
 'java_error_in_studio64.hprof',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{b304d11f-c277-11ee-85b9-60f262683571}.TM.blf',
 'NTUSER.DAT{b304d11f-c277-11ee-85b9-60f262683571}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{b304d11f-c277-11ee-85b9-60f262683571}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'PrintHood',
 'python lab works',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'source',
 'Start Menu',
 'Templates',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled3.ipynb',
 'Videos']

In [15]:
# Read csv files into pandas DataFrame
import numpy as np
import pandas as pd
user_data=pd.read_csv('User_Data.csv') # For Excel :-  read_excel('path',sheet_name='')
user_data.head(6)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0

In [ ]:
# Convert to CSV file
# .to_csv('path') 
# Then list the files in the directory to see it